*.env
node_modules
html/application/cache/*
html/foto*
!html/application/cache/index.html

html/application/logs/*
!html/application/logs/index.html

!html/application/*/.htaccess
.zsh_history
*.log
log/*
composer.lock

html/vendor/
/phpmyadmin
html/ssl/*.pem