<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request points to an existing file or directory, do not rewrite
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Exclude requests already pointing to index.php to avoid rewrite loop
    # RewriteCond %{REQUEST_URI} !^/index\.php

    # If the URI starts with /uploads, rewrite to handleRequestUpload
    # RewriteCond %{REQUEST_URI} ^/uploads
    # RewriteRule ^/public/uploads/(.*)$ index.php/?file=$1 [L,QSA]
    # RewriteCond %{QUERY_STRING} !vardump
    # RewriteRule (.*) http://www.example.com/$1?vardump&thereq=%{REQUEST_URI}&reqhost=%{HTTP_HOST} [R=302,L,QSA]
    # RewriteRule ^uploads/(.*)$ index.php/handleRequestUpload?file=$1 [L,QSA]
#     RewriteLog "/myfolder/mylogfile.log"
#     RewriteLogLevel 3

#     ErrorDocument 404 "Request: %{THE_REQUEST} Referrer: %{HTTP_REFERER} Host: %{HTTP_HOST}"
# RewriteRule ^ - [L,R=404]
    # For all other requests, rewrite to index.php/$1
    # RewriteCond %{REQUEST_URI} !^/index\.php
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
